[submodule "plugins/codemirror-editor"]
	path = plugins/codemirror-editor
	url = https://gerrit.googlesource.com/plugins/codemirror-editor
	branch = .

[submodule "plugins/commit-message-length-validator"]
	path = plugins/commit-message-length-validator
	url = https://gerrit.googlesource.com/plugins/commit-message-length-validator
	branch = .

[submodule "plugins/download-commands"]
	path = plugins/download-commands
	url = https://gerrit.googlesource.com/plugins/download-commands
	branch = .

[submodule "plugins/hooks"]
	path = plugins/hooks
	url = https://gerrit.googlesource.com/plugins/hooks
	branch = .

[submodule "plugins/replication"]
	path = plugins/replication
	url = https://gerrit.googlesource.com/plugins/replication
	branch = .

[submodule "plugins/reviewnotes"]
	path = plugins/reviewnotes
	url = https://gerrit.googlesource.com/plugins/reviewnotes
	branch = .

[submodule "plugins/singleusergroup"]
	path = plugins/singleusergroup
	url = https://gerrit.googlesource.com/plugins/singleusergroup
	branch = .
[submodule "plugins/gitiles"]
        path = plugins/gitiles
        url = https://gerrit.googlesource.com/plugins/gitiles
        branch = .

[submodule "plugins/oauth"]
        path = plugins/oauth
        url = https://gerrit.googlesource.com/plugins/oauth
        branch = .
